altgraph==0.17.5
certifi==2026.1.4
charset-normalizer==3.4.4
gevent==25.9.1
greenlet==3.3.2
idna==3.11
packaging==26.0
pycairo==1.29.0
PyGObject==3.54.5
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
requests==2.32.5
setuptools==82.0.0
urllib3==2.6.3
websocket==0.2.1
zope.event==6.1
zope.interface==8.2
